.container{
     background-color: green;
    border: 1px solid black; 
    text-align: justify;
}
.header{
    background-color:royalblue;
     border: medium red solid;
}
.menu{
    background-color: green;
    border: red thin solid;
}
.section{
    background-color: lightyellow;
    border:magenta thick solid;
}
.footer{
    background-color: midnightblue;
    border: red medium solid;
}
.subtopic{
    background-color: springgreen;
    border: 5px solid blueviolet;
}

