.body{
     background-color: green;
    border: 5px solid red; 
    text-align: justify;
}
.Container{ 
    width: 50%;
    background-color: peachpuff;
    border: 1px solid red;
    border-left: thick red outset;
    border-bottom: thick red outset;
}
.header{
    background-color:royalblue;
     border: medium red solid;
}
.menu{
    background-color: green;
    border: red thin solid;
}
.section{
    background-color: lightyellow;
    border:magenta thick solid;
}
.footer{
    background-color: midnightblue;
    border: red medium solid;
}
.subtopic{
    background-color: springgreen;
    border: 5px solid blueviolet;
}

